---
import { Image } from "astro:assets";
import Logo from "./ui/Logo.astro";

interface Props {}

const {} = Astro.props;
---

<header>
	<Logo />
    <nav>
        Features
		Pricing
		Resources
	  
    </nav>
    Login
    Sign Up
</header>
